[submodule "app/src/main/java/com/sryang/torang/di/repository"]
	path = app/src/main/java/com/sryang/torang/di/repository
	url = https://github.com/sarang628/repository.git
[submodule "app/src/main/java/com/sarang/torang/di/comment_di"]
	path = app/src/main/java/com/sarang/torang/di/comment_di
	url = https://github.com/sarang628/comment_di.git
